<!doctype html>
<html lang="en">
{% include 'partials/head.twig' %}

<body>
    {% include 'partials/navigation.twig' %}
    <main class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                {% for image in detail.image %}
                <img class="img-fluid" src="Images/{{image.image_name}}">
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h3>{{detail.product.name}}</h3>
                <h5 class="price">{{detail.product.price}}</h5>
                <p>{{detail.product.description}}</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>36-38
                    </label>
                </div>

                <form id="cart-form w-100" method="get">
                <div class="d-flex flex-wrap">
                    <div class="input-group flex-nowrap mr-2" style="min-width:5em;max-width:8em;">
                        <div class="input-group-prepend">
                            <button id="minus" class="btn btn-primary" type="button">&minus;</button>
                        </div>
                        <input id="quantity" type="text" class="form-control text-center" name="quantity" value="1"
                            max="{{detail.product.quantity}}" min="1" style="min-width:3em;">
                        <div class="input-group-append">
                            <button id="plus" class="btn btn-primary" type="button">&plus;</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2" name="add" value="cart">
                        <i class="fa fa-shopping-basket"></i>
                        Buy
                    </button>
                    <button type="submit" class="btn btn-primary mr-2" name="add" value="list">
                        <i class="fa fa-heart"></i>
                    </button>
                </div>
                <input type="hidden" name="product_id" value="{{detail.product.product_id}}">
            </form>
            </div>
        </div>
        <div class="row">
            
        </div>
        </div>
        </div>

    </main>
      <script>
        // script for add and minus button in detail page
        $(document).ready(
            () => {
                let qty = $('#quantity').val();
                let max = $('#quantity').attr('max');
               
                $('#plus').click( () => {
                    qty++;
                    if( qty <= max ){
                         $('#quantity').val(qty);
                    }
                });
                $('#minus').click( () => {
                    if( qty > 1 ){
                        qty--;
                        $('#quantity').val(qty);
                    }
                });
            }
        );
        </script>

</body>
{% include "partials/footer.twig" %}

</html>